.body1{
    width: 100%;
    height: 100%;
    background-image: url(../../images/detail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: -17px;
}

.separate{
    display: flex;
    margin: 20px;
    position: fixed
}

.tohome{
    color: #2B3784;
    text-decoration: none;
    border: 1px solid #2B3784;
    border-radius: 5px;
    padding: 5px;
    margin-top: 1rem;
    padding: 10px;
}

.name{
    color: #2B3784;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgb(159, 141, 141);
}